<?xml version="1.0"?>

<configuration>
  <appSettings>
    <add key="ValidationSettingks:UnobtrusiveValidationMode" value="None"/>
  </appSettings>

  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0"/>
    <roleManager enabled="true"/>
    <authentication mode="Forms">
      <forms loginUrl="login/login.aspx"/>
    </authentication>
  </system.web>


  <connectionStrings>
    <remove name="LocalSqlServer"/>
    <add name="LocalSqlServer" connectionString="Data Source=apollo.biz.uiowa.edu; Initial Catalog=msci3300_g7; 
         Persist Security Info=True; User ID=msci3300_g7; Password=Colbert!3300"/>
    <add name="db_karoberts_HW7" connectionString="Data Source=apollo.biz.uiowa.edu; Initial Catalog=msci3300_g7; 
         Persist Security Info=True; User ID=msci3300_g7; Password=Colbert!3300" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <!--<connectionStrings>
    <remove name="LocalSqlServer" />
    <add name="LocalSqlServer" connectionString="Data Source=apollo.biz.uiowa.edu; Initial Catalog=msci3300_g7; Persist Security Info=True; User ID=msci3300_g7; Password=Colbert!3300" />
    <add name="dbo" connectionString="Data Source=apollo.biz.uiowa.edu; Initial Catalog=msci3300_g7; Persist Security Info=True; User ID=msci3300_g7; Password=Colbert!3300"
      providerName="System.Data.SqlClient" />
    <add name="msci3300_g7ConnectionString" connectionString="Data Source=apollo.biz.uiowa.edu;Initial Catalog=msci3300_g7;Persist Security Info=True;User ID=msci3300_g7;Password=Colbert!3300"
      providerName="System.Data.SqlClient" />

    <remove name="LocalSqlServer" />
    <add name="LocalSqlServer" connectionString="Data Source=apollo.biz.uiowa.edu; Initial Catalog=msci3300_g7; Persist Security Info=True; User ID=msci3300_g7; Password=Colbert!3300" />
    <add name="db_Project_Books" connectionString="Data Source=apollo.biz.uiowa.edu; Initial Catalog=msci3300_g7; Persist Security Info=True; User ID=msci3300_g7; Password=Colbert!3300"
      providerName="System.Data.SqlClient" />
    <add name="msci3300_g7ConnectionString" connectionString="Data Source=apollo.biz.uiowa.edu;Initial Catalog=msci3300_g7;Persist Security Info=True;User ID=msci3300_g7;Password=Colbert!3300"
      providerName="System.Data.SqlClient" />
  </connectionStrings>-->
</configuration>
