<?xml version="1.0"?>

<configuration>
  
  <appSettings> 
    <add key="ValudationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
    
  
  <system.web>
    <roleManager enabled="true"/>

    <authentication mode="Forms">
      <forms loginUrl="login/login.aspx"/>
    </authentication>
      
    <compilation debug="false" strict="false" explicit="true" targetFramework="4.5.1" />
    
  </system.web>

</configuration>
